@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Recursive:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.cont{
  width: 100%;
  height: 100vh;
  background-color: #fa8c16;
  display: flex;
}

.right,.left{
    width: 50%;
}
.cont p{
  font-size: 1.5rem;
}

.left{
  background-color: #fa8c16;
  
}

.right{
  background-color: #1677ff;
  position: relative;
}

.seperator{
  width: 0;
  height: 0;
  border-top: 100vh solid transparent;
  border-right: 60vh solid #1677ff;
  /* margin-top: 13.9vh; */
}

.leftData,.rightData{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: black;
}

.cont h1{
  font-size: 4rem;
}

.rightData{
  position: absolute;
  bottom: 0;
  right: 0;
}

.cont button{
    padding: .7em 0;
    width: 13rem;
    font-size: larger;
    border-radius: 2rem;
    border: 3px solid black;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.right button:hover{
  background-color: #fa8c16;
}

.left button:hover{
  background-color: #1677ff;
  color: antiquewhite;
}

.boxes{
  display: flex;
  flex-direction: row;
  width: 96vw;
  margin: auto;
  background-color: white;
  margin-top: 3rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 10px #f8a100;
}

.boxes .s1,.boxes .s2,.boxes .s3{
  width: 33%;
  text-align: center;
  border-radius: 2rem;
  transition: all .5s ease-in-out;
}
.boxes .sep{
  width: .2rem;
  background-color: #1677ff;
  margin: 1.5rem;
}
.logo{
  text-align: center;
  padding-bottom: 2rem;
}
.boxes h4,h5{
  color: #1677ff;
  margin: 2rem;
  font-size: 4rem;
}
.boxes h5{
  color: black;
  font-size: 3rem;
}

.nomargin{
  margin-bottom: 0 !important;
  padding: 0;
}

.s2 h5{
  margin: 0;
  padding-bottom: 1rem;
}
.boxes > div:hover{
    transform: scale(0.9);
    background-color: whitesmoke;
}
.written{
  width: 90vw;
  margin: auto;
  text-align: center;
}
.written>h4{
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Recursive', sans-serif;
    font-size: 2.5rem;
    color: #113483;
    padding-bottom: 2rem
}

.written>p{
  padding: 2rem;
  font-size: 2rem;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: wheat;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: 'Quintessential', cursive;
}
.aboutUs{
  background-color:  #ECF3F9;
  width: 100%;
  /* padding: 2rem 0; */
  padding-top: 2rem;
}
.actual{
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.aleft li{
  list-style: none;
  padding-bottom: 1rem;
  /* font-style: bold; */
  font-weight: bolder;
  
}

.aleft .sep, .aright .sep{
  width: 2px;
  background-color: #24243e;
  height: 90%;
  /* margin: auto; */
}
.aleft, .aright{
  display: flex;
  gap: 1rem;
}
.aleftdata h4{
  font-size: 2rem;
  font-weight: bolder;
}
.aleftdata ul{
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
.arightdata{
  text-align: end;
}
.arightdata h6{
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}
.last{
  width: 100%;
  background-color: #b0b5b9;
}
.last .wrap{
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
 
  padding: 5px 0rem;
}

.arightdata .icons i{
  /* background-color: #0083b0; */
  font-size: 1rem;
  padding: .5rem;
}

@media only screen and (min-width: 320px) {
  html {
      font-size: 2px;
  }
  .logo img{
    width: 320px;
  }
  .seperator{
    border-right: 25vh solid #1677ff;
  }
}
@media only screen and (min-width: 330px) {
  html {
      font-size: 3px;
  }
  .logo img{
    width: 320px;
  }
}
@media only screen and (min-width: 350px) {
  html {
      font-size: 4px;
  }
  .logo img{
    width: 320px;
  }
  .seperator{
    border-right: 30vh solid #1677ff;
  }
}

@media only screen and (min-width: 380px) {
  html {
      font-size: 5px;
  }
  .logo img{
    width: 320px;
  }
}
@media only screen and (min-width: 410px) {
  html {
      font-size: 6px;
  }
  .logo img{
    width: 350px;
  }
}
@media only screen and (min-width: 500px) {
  html {
      font-size: 6px;
  }
  .seperator{
    border-right: 40vh solid #1677ff;
  }
}

@media only screen and (min-width: 540px) {
  html {
      font-size: 8px;
  }
}

@media only screen and (min-width: 670px) {
  html {
      font-size: 10px;
  }
  .seperator{
    border-right: 50vh solid #1677ff;
  }
 
}

@media only screen and (min-width: 1000px) {
  html {
      font-size: 12px;
  }
  
}

@media only screen and (min-width: 1240px) {
  html {
      font-size: 16px;
  }
}
